[user]
	name = Nick Loadholtes
	email = nick@ironboundsoftware.com
[color]
	ui = auto
[color "status"]
	untracked = red bold
[core]
	editor = vi
	excludesfile = /home/njl/.gitignore
[alias]
	ci = commit
	al = log --pretty=oneline --graph --abbrev-commit --decorate
	st = status
	out = log origin/master..HEAD
	co = checkout
	branches = branch -a
