[user]
	name = Nick Loadholtes
	email = nick@ironboundsoftware.com
[color]
	ui = auto
[color "status"]
	untracked = yellow bold
[core]
	editor = vim
	excludesfile = ~/.gitignore
	pager = bat -p 
	#/usr/local/Cellar/git/2.21.0/share/git-core/contrib/diff-highlight/diff-highlight | bat -p
	# less -r
[alias]
	ci = commit
	al = log --graph --pretty=format:'%C(yellow)%h%Creset -%C(auto)%d%Creset %s %Cgreen(%cr) %C(cyan)<%an>%Creset' --abbrev-commit
#log --pretty=oneline --graph --abbrev-commit --decorate
	all = log --graph --pretty=format:'%C(yellow)%h%Creset -%C(auto)%d%Creset %s %Cgreen(%cr) %C(cyan)<%an>%Creset' --abbrev-commit --all
#log --pretty=oneline --graph --abbrev-commit --decorate --all
	st = status
	out = log origin/master..HEAD
	co = checkout
	branches = branch -a
	in = log HEAD..origin/master
	forgetabout = update-index --assume-unchanged
	remember = update-index --no-assume-unchanged
	undo = reset --soft HEAD~1
	pr = "!f() { git fetch -fu ${2:-upstream} refs/pull/$1/head:pr/$1 && git checkout pr/$1;}; f"
	pr-clean = "!git checkout master ; git for-each-ref refs/heads/pr/* --format=\"%(refname)\" | while read ref ; do branch=${ref#refs/heads/} ; git branch -D $branch ; done"
	pr-update = "!fu() { git co master && git fetch ${2:-upstream} pull/$1/head:pr/$1 && git co - && git rebase FETCH_HEAD;}; fu"
	up = "!f() { git pull upstream master && git push origin;}; f"
	start = "!f() { git co -b nloadholtes/${1}; }; f"

[push]
	default = current
	autoSetupRemote = true
[init]
	templatedir = ~/.git_template
	defaultBranch = main
[branch]
	autosetuprebase = always
[merge]
	tool = kdiff3
[pager]
	#log = diff-highlight | less
	#show = diff-highlight | less
	#diff = diff-highlight | less
