*.pyc
projectFilesBackup/
*.iws
*.ipr
*.iml
*.swp
*.komodoproject
*.*~
.pythoscope
dist/
temp/
.coverage
htmlcov/
commit_images
.DS_Store
.idea/
.env
.cache
dash2.0/client/node_modules
package-lock.json
.pytest_cache/
celerybeat-schedule.db
.venv/
.coverage.*
TAGS
\#*\#
.\#*
.pytest_cache/
.vscode/settings.json
*.pem
misc/docs/.obsidian/
.venv-poetry
emulators/exported-data
.env.local
