emacs.d/places
emacs/emacs.d/places
emacs/emacs.d/backups
emacs/emacs.d/elpa
emacs/emacs.d/session.*
emacs/emacs.d/eshell
emacs/emacs.d/bookmarks
emacs/emacs.d/games
emacs/emacs.d/auto-save-list
emacs/emacs.d/ido.last
emacs/emacs.d/#*
.#*
emacs/emacs.d/transient/history.el
emacs/emacs.d/elpy
emacs/emacs.d/.python-environments
emacs/emacs.d/ac-comphist.dat
emacs/emacs.d/org-roam.db
emacs/emacs.d/annotations
